/*
 * 커스텀 CSS 설정 페이지
 * Homepage: http://localhost:8080\o\
 * Copyright 2014
 * Based on Bootstrap
*/
.form-control
{
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.btn-success
{
	color: #ffffff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.btn-register
{
	color: #ffffff;
	background-color: rgb(66, 139, 202);
	border-color: #357ebd;
}

.btn
{
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.decktable
{
	height: 100%;
	padding: 0px;
	margin: 0px;
	width: auto;
}

.deck /* 덱 설정 */
{
	float: left;
	margin: 5px 0px 5px 5px;
	padding: 0px;
	width: 250px;
	height: 100%;
}

.deck-header
{
	background-color: #193046;
	height: 50px;
	width: 250px;
}

.deck-order
{
	font-size: 35px;
	font-weight: bold;
	background-color: #1b2835;
	float: left;
	height: 50px;
	width: 20px;
}

.deck-icon
{
	font-size: 40px;
	float: left;
	height: 40px;
	width: 40px;
	margin: 5px;
}

.deck-title
{
	font-size: 30px;
	float: left;
	height: 40px;
	width: 170px;
	margin: 5px;
}

.deck-body
{
	background-color: #a69274;
	clear: both;
	overflow: auto;
	height: 500px;
	overflow-x: hidden;
}

.deck-article
{
	background-color: #7d7161;
	margin: 5px 5px 0px 5px;
	color: white;
}

.deck-profile
{
	float:left;
	background-color: #513c20;
	padding: 5px 5px 5px 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin: 5px;
}

.deck-profile-picture
{
	background-color: yellow;
	width: 50px;
	height: 50px;
}

.deck-profile-nickname
{
	margin-top: 5px;
	text-align: center;
	width: 50px;
}

.deck-contents
{
	padding: 5px;
}